/* Framework a 12 collone */

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    }
  
/* Impostazioni di base per le righe */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }


/* Impostazioni di base delle 12 colonne */

.col-1 {
    width: calc(100% / 12 * 1);
    max-width: calc(100% / 12 * 1);
}

.col-2 {
    width: calc(100% / 12 * 2);
    max-width: calc(100% / 12 * 2);
}

.col-3 {
    width: calc(100% / 12 * 3);
    max-width: calc(100% / 12 * 3);
}

.col-4 {
    width: calc(100% / 12 * 4);
    max-width: calc(100% / 12 * 4);
}

.col-5 {
    width: calc(100% / 12 * 5);
    max-width: calc(100% / 12 * 5);
}

.col-6 {
    width: calc(100% / 12 * 6);
    max-width: calc(100% / 12 * 6);
}

.col-7 {
    width: calc(100% / 12 * 7);
    max-width: calc(100% / 12 * 7);
}

.col-8 {
    width: calc(100% / 12 * 8);
    max-width: calc(100% / 12 * 8);
}

.col-9 {
    width: calc(100% / 12 * 9);
    max-width: calc(100% / 12 * 9);
}

.col-10 {
    width: calc(100% / 12 * 10);
    max-width: calc(100% / 12 * 10);
}

.col-11 {
    width: calc(100% / 12 * 11);
    max-width: calc(100% / 12 * 11);
}

.col-12 {
    width: calc(100% / 12 * 12);
    max-width: calc(100% / 12 * 12);
}
  

/* Impostazioni offset */

.offset-1 {
    margin-left: calc(100% / 12 * 1);
}

.offset-2 {
    margin-left: calc(100% / 12 * 2);
}

.offset-3 {
    margin-left: calc(100% / 12 * 3);
}

.offset-4 {
    margin-left: calc(100% / 12 * 4);
}

.offset-5 {
    margin-left: calc(100% / 12 * 5);
}

.offset-6 {
    margin-left: calc(100% / 12 * 6);
}

.offset-7 {
    margin-left: calc(100% / 12 * 7);
}

.offset-8 {
    margin-left: calc(100% / 12 * 8);
}

.offset-9 {
    margin-left: calc(100% / 12 * 9);
}

.offset-10 {
    margin-left: calc(100% / 12 * 10);
}

.offset-11 {
    margin-left: calc(100% / 12 * 11);
}